**Question 1:**
Accept a positive integer n as input and print the first n positive integers, one number on each line.

In [4]:
n = int(input("Enter a positive integer n as input: "))
i=1
while i <=n:
  print(i)
  i+=1

Enter a positive integer n as input: 7
1
2
3
4
5
6
7

**Question 2:** Accept two positive integers a and b as input. Print the sum of all integers in the range [1000,2000], endpoints inclusive, that are divisible by both a and b. If you find no number satisfying this condition
in the given range, then print 0.

In [5]:
a,b = int(input("Enter the value of a: ")), int(input("Enter the value of b: "))
sum = 0
for i in range(1000, 2001):
  if i%a==0 and i%b==0:
    sum = sum + i

print(sum)

Enter the value of a: 5
Enter the value of b: 4
76500

**Question 3**: Accept a positive integer n as input, where n>1. Print PRIME if n is a prime number and NOT PRIME
otherwise.

In [7]:
n = int(input("Enter a positive integer n: "))
i = 1
factors = 0
if n>1:
  while i<=n:
    if n%i==0:
      factors=factors+1
    i+=1
  if factors==2:
    print("PRIME")
  else:
    print("NOT PRIME")
else:
  print("Please enter a number that is greater than 1")

Enter a positive integer n: 46
NOT PRIME

**Question 4:**
Accept a sequence of positive integers as input and print the maximum number in the sequence. The
input will have n+1 lines, where n denotes the number of terms in the sequence. The ith line in the input will contain the ith term in the sequence for 1≤i≤n. The last line of the input will always be the number 0. Each test case will have at least one term in the sequence.

In [11]:
n = int(input("Enter the number of terms in the sequence: "))
t1 = int(input("Enter a positive integer: "))
max = 0
i = 1
while i < n:
  tn = int(input("Enter a positive integer: "))
  if t1 >= max:
    max = t1
  t1 = tn
  i += 1
print("MAXIMUM = ", max)

Enter the number of terms in the sequence: 5
Enter a positive integer: 11
Enter a positive integer: 2
Enter a positive integer: 43
Enter a positive integer: 34
Enter a positive integer: 21
MAXIMUM =  43

**Question 5:**
Accept a sequence of words as input and print the shortest word in the sequence. The input will have n+1 lines, where n denotes the number of terms in the sequence. The ith line in the input will contain the ith word in the sequence for 1≤i≤n. The last line of the input will always be the string abcdefghijklmnopqrstuvwxyz. This string is not a part of the sequence. You can assume that each test case corresponds to a non-empty sequence of words. If there are multiple words that have the same minimum length, print the first such occurrence.

In [13]:
word = input("Enter a word: ")
short = 'abcdefghijklmnopqrstuvwxyz'
while len(word)!= len('abcdefghijklmnopqrstuvwxyz'):
  if len(word) < len(short):
    short = word
  word = input("Enter the next word: ")
print("Shortest word:", short)

Enter a word: mis
Enter the next word: bah
Enter the next word: sirnaik
Enter the next word: 1
Enter the next word: am
Enter the next word: abcdefghijklmnopqrstuvwxyz
Shortest word: 1

**Question 6:**
Accept a positive integer as input and print the sum of the digits in the number.

In [1]:
n = input("Enter positive integer: ")
sum = 0
for i in n:
  sum = sum + int(i)

print("Sum of the digits in the number= ", sum)

Enter positive integer: 5678
Sum of the digits in the number=  26

**Question 7:** Accept a positive integer n as input and print the first n integers on a line separated by a comma.

In [6]:
n = int(input("Enter a positive integer: "))
for i in range(1, n):
  print(str(i)+",",end='')
print(n)

Enter a positive integer: 5
1,2,3,4,5

**Question 8**
Accept a positive integer n as input and print a triangle of zeros for n lines. The ith line should have i zeros. There shouldn't be any spaces between consecutive zeros. Do not print a space at the end of a line.

In [8]:
n = int(input("Enter a positive integer n: "))
i=1
while i<=n:
  print('0'*i)
  i=i+1

Enter a positive integer n: 7
0
00
000
0000
00000
000000
0000000

**Question 9:**
Accept a positive integer n as input and print the sum of all prime numbers in the range [1,n], endpoints inclusive. If there are no prime numbers in the given range, then print 0.

In [ ]:
n = int(input("Enter a positive integer n as input: "))
check=True
for i in range(,n+1):
  for j in range(,i):
    if i%j == 0:
      check=False
    sum = sum+

**Question 10:**
Accept two strings as input and form a new string by removing all characters from the second string which are present in the first string. Print this new string as output. You can assume that all input strings will be in lower case.

In [3]:
str1 = input("Enter the 1st string: ")
str2 = input("Enter the 2nd string: ")

for i in str1:
  if i in str2:
    str2 = str2.replace(i,'')

print(str2)

Enter the 1st string: misbah
Enter the 2nd string: misbahaslamsirnaik
lrnk

In [4]:
st1 = input()
st2 = input()

st=''

for ch in st2:
  check = True
  for t in st1:
    if ch == t :
      check = False
  if check:
    st += ch

print(st)

misbah
misbahaslamsirnaik
lrnk

**Question 11**
Accept a string as input and print PALINDROME if it is a palindrome, and NOT PALINDROME
otherwise.

In [9]:
str_val = input("Enter a string: ")

if str_val == str_val[::-1]:
  print("PALINDROME")
else:
  print("NOT PALINDROME")

Enter a string: tattarrattat
PALINDROME

**Question 12:**
Two integers are co-prime if the only common divisor between the two integers is one.
Accept two positive integers as input in two different lines. Print Coprime if the two integers are
co-prime, else print Not Coprime. Assume that both the integers are greater than two.

In [ ]:
n1,n2 = int(input("Enter the 1st integer: ")), int(input("Enter the 2nd integer: "))

**Question 13**
Accept a string as input, print Integer if the string is an integer, print Float if it is a float, else print None.

In [ ]:
val = input("Enter a value [integer or float] in the form of a string: ")

Multiple Select Questions (MSQ) could have more than one correct answers. The marks scored by a student in a MSQ will be determined by the following conditions:

(1) If the question has c correct options, each individual correct option carries marks

(2) If a student selects any of the wrong options, the marks awarded for the question will be 0.

Calculate the marks obtained by the student and print this as float value.

The input contains four lines.

(1) First line is the number of marks for the question.

(2) Second line contains the number of options for the question.

(3) Third line is a comma-separated sequence of correct options for this question

(4) Fourth line is a comma-separated sequence of options given by the student.

Write a program to print the number of marks scored by a student.

In [ ]:
marks = int(input("Enter the marks for the question: "))
options = int(input("How many options are given for the respective question? "))
correct_options = input("Correct options: ")
options_marked = input("Options marked by student: ")